.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--gap);
}

.header {
  height: 80px;
  flex: 0 0 auto;
  background-color: var(--background-element);
}

.header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-search {
  display: flex;
  align-items: flex-end;
}

.main .container {
  padding: var(--gap);
}
